@page "/"
@using IntervalType = Syncfusion.Blazor.Charts.IntervalType

<PageTitle>Index</PageTitle>

<h3 class="mt-2">
    welcome to my first Blazor WASM App !
</h3>

<div class="row mt-5">

    <div class="col-md-6">
        <SfChart Title="Inflation - Consumer Price">
            <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category" />
            <ChartTooltipSettings Enable="true"></ChartTooltipSettings>
            <ChartZoomSettings EnableMouseWheelZooming="true" EnablePinchZooming="true" EnableSelectionZooming="true"></ChartZoomSettings>
            <ChartSeriesCollection>
                <ChartSeries DataSource="@MedalDetails" XName="X" YName="Y" Type="ChartSeriesType.Column">
                </ChartSeries>
            </ChartSeriesCollection>
        </SfChart>
    </div>

    <div class="col-md-6">
        <SfChart Title="Inflation - Consumer Price">
            <ChartPrimaryXAxis IntervalType="IntervalType.Years" LabelFormat="yyyy" ValueType="Syncfusion.Blazor.Charts.ValueType.DateTime">
            </ChartPrimaryXAxis>
            <ChartTooltipSettings Enable="true"></ChartTooltipSettings>
            <ChartZoomSettings EnableMouseWheelZooming="true" EnablePinchZooming="true" EnableSelectionZooming="true"></ChartZoomSettings>
            <ChartSeriesCollection>
                <ChartSeries DataSource="@ConsumerReports" XName="XValue" YName="YValue" Type="ChartSeriesType.Line">
                    <ChartMarker Visible="true" Height="10" Width="10" />
                </ChartSeries>
            </ChartSeriesCollection>
        </SfChart>
    </div>

</div>


@code {
   
}